@model Equipe
@{
    //Alterando o titulo da pagina
    ViewData["Title"] = "Equipes";
}

@* Para enviar informações para um formulario se utiliza o metodo POST *@
@* action -> ação a ser executada *@

@* Formulario a ser preenchido *@
<div class="titulo_pagina">
    <h1>cadastro de jogador</h1>
</div>

<form class="cadastro" action="@Url.Action("Cadastrar")" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

    <div class="campo">
        <label for="IdEquipe">IdEquipe</label>
        <input type="text" name="IdEquipe" />
    </div>

    <div class="campo">
        <label for="Nome">Nome</label>
        <input type="text" name="Nome" />
    </div>

    <div class="campo">
        <label for="Imagem">Imagem</label>
        <input type="file" name="Imagem" />
    </div>
    
    <button class="gradient btn" type="submit">Cadastrar</button>
</form>

<table class="table table-stripes table-responsive">
    @* Cabeçalho da tabela *@
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Foto</th>
    </thead>
    @* Corpo da tabela *@
    <tbody>
        @foreach (Equipe equipe in ViewBag.Equipes)
        {
            <tr>
                <td>@equipe.IdEquipe</td>
                <td>@equipe.Nome</td>
                <td><img src="/img/Equipes/@equipe.Imagem" alt="Imagem  da equipe @equipe.Nome" width="40"></td>
                <td><a asp-area ="Link para excluir uma equipe" asp-controller="Equipe" asp-action="Excluir"asp-route-id="@equipe.IdEquipe">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>